body {
  background-color: blueviolet;
  background-image: url(66705469f4c7588a25a343376bb01d9f.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #0f0;
  color: #ccc; }

